.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.06);
  padding: 10px 20px;
  margin:0 20px 20px;
  .name {
    font-size: 20px;
  }
}
